table{
    margin: 0px;
    width: 600px;
    text-align: left;
    padding: 1px;
}
div {
    border: 1px solid #000;
    width: 31.5%;
}
tr, td{
    padding: 10px;
    border:  1px solid black;
    width: 20%;
}